---
Language: Cpp
BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 120
AllowShortIfStatementsOnASingleLine: true
AllowShortBlocksOnASingleLine: Empty
AlignConsecutiveMacros: true
PointerAlignment: Left
---
